

.loading-text { font-weight: 600;
    padding-bottom: 15px;
	place-self: center;
	background: linear-gradient(90deg, rgb(209, 128, 14), rgb(243, 162, 12), rgb(149, 109, 35)) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while;
	 * but it catches the latest browser versions supported 
	 * on Wndows XP, 7 and 8; yeah, they exist in 2025 */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 90 clamp(3em, 10vw, 2em) ,"Rubik";
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

/* avoid problems in high contrast mode */
@media (forced-colors: active) {
  p {
    background: #212121;
    color: aquamarine
  }
}

.StandardPlan{
 font-weight: 600;
    padding-bottom: 15px;
	place-self: center;
	background: linear-gradient(90deg, rgb(12, 150, 102), rgb(14, 95, 183), rgb(16, 77, 220)) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while;
	 * but it catches the latest browser versions supported 
	 * on Wndows XP, 7 and 8; yeah, they exist in 2025 */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 90 clamp(3em, 10vw, 2em) ,"Rubik";
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

/* avoid problems in high contrast mode */
@media (forced-colors: active) {
  p {
    background: #212121;
    color: aquamarine
  }

}

.freeplan{

   font-weight: 600;
    padding-bottom: 15px;
	place-self: center;
	background: linear-gradient(90deg, rgb(9, 230, 134), rgb(239, 184, 81), rgb(15, 124, 109)) -100%/ 200%;
	/* being excessively careful with compat, 
	 * though this has been supported unprefixed and 
	 * in the shorthand across major browsers for a while;
	 * but it catches the latest browser versions supported 
	 * on Wndows XP, 7 and 8; yeah, they exist in 2025 */
	-webkit-background-clip: text;
	        background-clip: text;
	/* use color, don't use -webkit-text-fill-color anymore, 
	 * was meant to solve a problem we haven't had in years */
	color: transparent;
	font: 90 clamp(3em, 10vw, 2em) ,"Rubik";
	animation: shimmer 2s linear infinite
}

@keyframes shimmer { to { background-position: 100% } }

/* avoid problems in high contrast mode */
@media (forced-colors: active) {
  p {
    background: #212121;
    color: aquamarine
  }
}