@media (max-width:768px) {
  
  header{
    max-width: 768px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    
  }
  .section1{
    max-width: 768px;
    margin: auto;
    
  }
.section1>img{
  
  display: flex;
  display: none;
}


div.article{
  max-width: 768px;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  padding:0px 10px 0px 20px;
  margin-top: 40px;
  
  
  

}
.sectionComunicativa{
  text-align: center;
  display: flex;
  flex-direction: column;
  
}
.sectionParagrafo{
  max-width: 200px;
  text-align: center;
margin: auto;
}
.section-button{
  max-width: 200px;
  margin: auto;
  width: 100%;
}
.abbr{
  display: inline;

}
a.navbar-burger{
      margin: 0px 0px 0px 110px;
}

.navbar-brand{
  padding-left: 20px;
}

div.section-2{
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.detalhesSection2>h2{
  font-size: 24px !important; 
  width: 100% !important;
  text-align: center;
}

div.ArticleSection2{
 display: flex;
 justify-content: center;
 align-items: center;
  padding: 80px 0px 20px 0px;
  margin: auto;
  text-align: center;
  max-width: 900px;
}

div.caixa{
  display: flex;
  flex-direction: column;
}

.subSectionCenter{
  font-size: 20px;
  width: 190px;
}

div.section3{
  display: none;
}
.section4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.section4 .subSectionCenter>h2{
  width: 100%;

}


}

@media (max-width:1024px) {
 header{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .section1{
    max-width: 768px;
    margin: auto;
  }
.section1>img{
  
  display: flex;
  display: none;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 div.article{
  max-width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  padding:0px 10px 0px 20px;
  margin-top: 40px;
  
  
  

}
.sectionComunicativa{
  text-align: center;
  display: flex;
  flex-direction: column;
  
} 
/* .sectionParagrafo{
  max-width: 200px;
  text-align: center;
margin: auto;
}
.section-button{
  max-width: 200px;
  margin: auto;
  width: 100%;
}
.abbr{
  display: inline;

}
a.navbar-burger{
      margin: 0px 0px 0px 120px;
} */

.navbar-brand{
  padding-left: 20px;
}

div.section-2{
  padding-top: 50px;
  display: flex;
  flex-direction: column ;
  padding-bottom: 30px;
}

.detalhesSection2>h2{
  font-size: 24px !important; 
  width: 100% !important;
  text-align: center;
}

div.ArticleSection2{
  padding-top: 80px;
}

div.caixa{
  display: flex;
  flex-direction: column;
}
.section-button{
  margin: auto;
}
.subSectionCenter{
  font-size: 20px;
  width: 190px;
}

div.section3{
  display: none;
}
.section4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.section4 .subSectionCenter>h2{
  width: 100%;

}


}

